-- Create disturbances table
CREATE TABLE public.verktygshanteringssystem_störningar (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  machine_id UUID NOT NULL REFERENCES verktygshanteringssystem_maskiner(id) ON DELETE CASCADE,
  area TEXT NOT NULL,
  comment TEXT NOT NULL,
  signature TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable Row Level Security
ALTER TABLE public.verktygshanteringssystem_störningar ENABLE ROW LEVEL SECURITY;

-- Create policy for public read access
CREATE POLICY "Allow public read access to störningar" 
ON public.verktygshanteringssystem_störningar 
FOR SELECT 
USING (true);

-- Create policy for public insert access
CREATE POLICY "Allow public insert access to störningar" 
ON public.verktygshanteringssystem_störningar 
FOR INSERT 
WITH CHECK (true);

-- Create policy for public update access
CREATE POLICY "Allow public update access to störningar" 
ON public.verktygshanteringssystem_störningar 
FOR UPDATE 
USING (true);

-- Create policy for public delete access
CREATE POLICY "Allow public delete access to störningar" 
ON public.verktygshanteringssystem_störningar 
FOR DELETE 
USING (true);

-- Create trigger for automatic timestamp updates
CREATE TRIGGER update_störningar_updated_at
BEFORE UPDATE ON public.verktygshanteringssystem_störningar
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();