-- Add tillgång_störningar column to machines table
ALTER TABLE public.verktygshanteringssystem_maskiner 
ADD COLUMN tillgång_störningar BOOLEAN DEFAULT true;

-- Update existing machines to have tillgång_störningar enabled by default
UPDATE public.verktygshanteringssystem_maskiner 
SET tillgång_störningar = true 
WHERE tillgång_störningar IS NULL;